.wx-move {
    display: flex;
    margin-bottom: 0.5em;
    padding: 2px;
}

.wx-move-list {
    margin: 0px;
    width: 40%;
}

.wx-move-list > p {
    cursor: default;
    padding-left: 0.5em;
}

.wx-move-list > ul {
    height: 250px;
    overflow-y: auto;
    cursor: default;
}

.wx-move-list > ul > li {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}

.wx-move-list > ul > li > img {
    height: 1.2em;
}

.wx-move-list > ul > li > i {
}

.wx-move-button {
    margin: auto;
}