.wx-webui-input-password .input-group {
    position: relative;
}

.wx-webui-input-password .input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    min-width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
