/* Base FileList Control Styling */
.wx-file-list > table {
}

.wx-file-list > table > tbody > tr {
}

.wx-file-list > table > tbody > tr > td {
    text-align: left;
}

.wx-file-list > table > tbody > tr > td:last-child {
    text-align: right;
}

.wx-file-list > table > tbody > tr > td > div {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wx-file-list > table > tbody > tr > td > img {
    height: 1.2em;
}

.wx-file-list > table > tbody > tr > td > div > span {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}