/* Styles for the Tag Control */
.wx-tag {
    box-sizing: border-box;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.wx-tag > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2em;
}

.wx-tag > ul > li {
    padding: 0.2em;
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
    border-radius: 0.2em;
    height: 1.5em;
}

.wx-tag > ul > li > a {
    display:inline-flex;
    text-decoration: none;
    cursor: pointer;
    color:inherit;
}

.wx-tag > ul > li > a:hover {
    color: var(--bs-body-color);
}

.wx-tag input {
    box-sizing: border-box;
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background: inherit;
}

.wx-tag-primary {
    color: var(--bs-white);
    background-color: var(--bs-primary);
}

.wx-tag-secondary {
    color: var(--bs-light);
    background-color: var(--bs-secondary);
}

.wx-tag-success {
    color: var(--bs-light);
    background-color: var(--bs-success);
}

.wx-tag-info {
    color: var(--bs-dark);
    background-color: var(--bs-info);
}

.wx-tag-warning {
    color: var(--bs-dark);
    background-color: var(--bs-warning);
}

.wx-tag-danger {
    color: var(--bs-light);
    background-color: var(--bs-danger);
}

.wx-tag-light {
    color: var(--bs-dark);
    background-color: var(--bs-light);
}

.wx-tag-dark {
    color: var(--bs-light);
    background-color: var(--bs-dark);
}