.wx-dropdownbutton {
}

    .wx-dropdownbutton > button {
    }

        .wx-dropdownbutton > button > img {
            margin-right: 0.5em;
            height: 1em;
            min-width: 1em;
            vertical-align: middle;
        }

        .wx-dropdownbutton > button > i {
            margin-right: 0.5em;
        }

    .wx-dropdownbutton > ul {
    }

        .wx-dropdownbutton > ul > li {
        }

            .wx-dropdownbutton > ul > li > a {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

                .wx-dropdownbutton > ul > li > a > img {
                    height: 16px;
                    margin-right: 0.5em;
                }

                .wx-dropdownbutton > ul > li > a > i {
                    margin-right: 0.5em;
                }

                .wx-dropdownbutton > ul > li > a > span {
                }
