.wx-dropdown {
}

.wx-dropdown > button {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}  

.wx-dropdown > button > img {
    vertical-align: middle; 
}  

.wx-dropdown > ul > li > span,
.wx-dropdown > ul > li > a {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5em;
}

.wx-dropdown > ul > li > a > img {
}