/* Split container base */
.wx-split {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    overflow: hidden;
}

/* Orientation-specific classes */
.wx-split-horizontal {
    flex-direction: row;
}
.wx-split-vertical {
    flex-direction: column;
}

/* Main and side pane containers */
.wx-split .wx-main-pane,
.wx-split .wx-side-pane {
    min-width: 20px;
    min-height: 20px;
    box-sizing: border-box;
}

/* Splitter styles */
.wx-split .wx-splitter {
    background: var(--bs-border-color);
    z-index: 10;
    flex: 0 0 auto;
    user-select: none;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wx-split .wx-splitter:active,
.wx-split .wx-splitter:focus {
    background: var(--bs-secondary-color);
}

.wx-split .wx-splitter-horizontal {
    width: 6px;
    cursor: col-resize;
}

.wx-split .wx-splitter-vertical {
    height: 6px;
    cursor: row-resize;
}

/* Splitter indicator */
.wx-split .wx-splitter-indicator {
    display: block;
    background-color: var(--bs-secondary);
    border-radius: 3px;
    opacity: 0.4;
}

.wx-split .wx-splitter-indicator-horizontal {
    height: 36px;
    width: 2px;
    min-height: 24px;
    max-height: 60px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAkSURBVChTYzxz5kw/AxCYmJgUwthMIIJ8MGomEIyaidNMBgYANc83sUCD+ssAAAAASUVORK5CYII');
}
.wx-split .wx-splitter-indicator-vertical {
    height: 2px;
    width: 36px;
    min-width: 24px;
    max-width: 60px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFCAYAAABSIVz6AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAhSURBVChTYzxz5kw/AxCYmJgUgmh68ZlAxIgCIy2oGRgAUTM97WZuFTcAAAAASUVORK5CYII');
}

/* Prevent text selection during drag */
.wx-split-noselect {
    user-select: none !important;
}