.wx-table {
    caption-side: bottom;
    border-collapse: collapse;
}

.wx-table > thead {
    position: sticky;
    top: 0;
    z-index: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

.wx-table > thead > tr {
}

.wx-table > thead > tr > th {
    box-sizing: border-box;
    position: relative; /* Allows absolute positioning of the sort indicator */
    text-align: left; /* Align the header text to the left */
    padding-right: 20px; /* Create space for the sort indicator */
    outline: 0;
    overflow: hidden; 
    white-space: nowrap; 
    align-items: center;
}

/* Sorting indicator for ascending order */
.wx-table > thead > tr > th.wx-sort-asc::after {
    content: "▲"; /* Upward arrow for ascending order */
    font-size: 0.5em; /* Smaller size for the arrow */
    position: absolute; /* Position relative to the th element */
    right: 5px; /* Position the arrow 5px from the right edge */
    top: 50%; /* Center the arrow vertically */
    transform: translateY(-50%); /* Adjust for perfect vertical centering */
    color: var(--bs-secondary); /* Use Bootstrap's secondary color */
}

/* Sorting indicator for descending order */
.wx-table > thead > tr > th.wx-sort-desc::after {
    content: "▼"; /* Downward arrow for descending order */
    font-size: 0.5em; /* Smaller size for the arrow */
    position: absolute; /* Position relative to the th element */
    right: 5px; /* Position the arrow 5px from the right edge */
    top: 50%; /* Center the arrow vertically */
    transform: translateY(-50%); /* Adjust for perfect vertical centering */
    color: var(--bs-secondary); /* Use Bootstrap's secondary color */
}

/* Hover effect for sortable column headers */
.wx-table > thead > tr > th:hover {
    background-color: var(--bs-light); /* Highlight the header on hover */
    cursor: pointer; /* Indicate that the column is clickable */
}

/* Support for dark mode hover */
[data-bs-theme=dark] .wx-table > thead > tr > th:hover {
    background-color: var(--bs-dark); /* Dark background for hover */
    color: var(--bs-light); /* Light text color for contrast */
}

.wx-table > thead > tr > th > div {
    display: inline-flex; /* Flexbox for content inside the <th> */
    align-items: center;
    gap: 0.5em; /* Adds space between the icon and text */
}

.wx-table > thead > tr > th > div > img {
    height: 1.2em;
    min-width: 1em;
}

.wx-table > thead > tr > th > i {
}

.wx-table > thead > tr > th.wx-dropdown > button {
    padding: 0;
    border: 0;
}

.wx-table > tbody > tr > td {
}

.wx-table > tbody > tr > td > div {
    display: inline-flex; /* Flexbox for content inside the <th> */
    align-items: center;
    gap: 0.5em; /* Adds space between the icon and text */
}

.wx-table > tbody > tr > td > div > img {
    height: 1.2em;
    min-width: 1em;
}

.wx-table > tbody > tr > td > div > i {
}

/* Styling for dragging elements */
.wx-table-dragging {
    opacity: 0.5;    
}

.wx-table-drag-handle {
    cursor: grab; 
    color: var(--bs-secondary);  
}

.wx-table-drag-handle:hover {
    color: var(--bs-secondary);  
}

/* Indicator for columns */
.wx-table-drag-indicator {
    position: absolute;
    border-left: 2px dashed var(--bs-success);
    z-index: 2000;
    pointer-events: none;
}

/* Indicator for rows */
.wx-table-drag-placeholder {
    background-color: var(--bs-success-bg-subtle); /* Highlights the drop target with a green shade */
    border: 2px dashed var(--bs-success); /* Adds a dashed border for visual emphasis */
    z-index: 1000;
    pointer-events: none;
}

/* Styling for the resizer element on each column header */
.wx-table-column-resizer {
    position: absolute; /* Position the resizer relative to the header */
    right: 0; /* Align the resizer to the right edge */
    top: 0;
    bottom: 0;
    width: 5px; /* Width of the resizer area */
    cursor: col-resize; /* Change cursor to indicate resizable functionality */
    z-index: 1000; /* Ensure the resizer is on top */
}

/* Styling applied to the body during a resize operation */
.wx-table-resizing {
    cursor: col-resize !important; /* Force the column resize cursor during the operation */
}